---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Sign Up</h1>
    <form>
        <label>
        Username:
        <input type="text" name="username" placeholder="Enter username" required>
        </label>
        <label>
        Password:
        <input type="password" name="password" placeholder="Enter password" required>
        </label>
        <label>
        Firstname:
        <input type="text" name="firstname" placeholder="Enter firstname" required>
        </label>
        <label>
        Lastname:
        <input type="text" name="lastname" placeholder="Enter lastname" required>
        </label>
        <button type="submit">Log In</button>
    </form>
</Layout>

<script>
    const form = document.querySelector("form") as HTMLFormElement
    const button = document.querySelector("button") as HTMLButtonElement

    const signup = async (event: MouseEvent) => {
        event.preventDefault();

        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        try {
            const response = await fetch(`http://localhost:3000/users/signup`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                console.error("Something went wrong!")
                return
            }
            console.log("Signup successful!");
            window.location.href = "/login"
        } catch (error) {
            console.error("Signup failed:", error);
        }
    }

    button?.addEventListener('click', async (event) => {
		await signup(event)
	})
</script>